@import url('https://fonts.googleapis.com/css?family=Open+Sans');

body {
  font-family: 'Open Sans', serif;
}

.wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 10px;

  background: rgba(45, 176, 224, 1);
  background: -moz-linear-gradient(
    45deg,
    rgba(45, 176, 224, 1) 0%,
    rgba(96, 40, 168, 1) 100%
  );
  background: -webkit-gradient(
    left bottom,
    right top,
    color-stop(0%, rgba(45, 176, 224, 1)),
    color-stop(100%, rgba(96, 40, 168, 1))
  );
  background: -webkit-linear-gradient(
    45deg,
    rgba(45, 176, 224, 1) 0%,
    rgba(96, 40, 168, 1) 100%
  );
  background: -o-linear-gradient(
    45deg,
    rgba(45, 176, 224, 1) 0%,
    rgba(96, 40, 168, 1) 100%
  );
  background: -ms-linear-gradient(
    45deg,
    rgba(45, 176, 224, 1) 0%,
    rgba(96, 40, 168, 1) 100%
  );
  background: linear-gradient(
    45deg,
    rgba(45, 176, 224, 1) 0%,
    rgba(96, 40, 168, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2db0e0', endColorstr='#6028a8', GradientType=1 );
}

.main {
  min-height: 70vh;
  width: 70%;
  background: #2a6bb1;
  box-shadow: 0px 2px 80px rgba(0, 0, 0, 0.5);
  outline: 3px solid #103a65;
  margin: 0 auto;
}

.info {
  box-sizing: border-box;
  min-height: 70vh;
  background: url('./img/forestSVG/FOREST.svg');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  font-weight: 600;
}

.info::before {
  content: '';
  background-color: #0000006c;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
}

.info > div {
  z-index: 100;
}

.form {
  min-height: 70vh;
  padding-top: 100px;
  padding-left: 50px;
}

input[type='text'] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 2px #113a65;
  color: #fff;
  font-size: 20px;
  font-weight: lighter;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 4px 8px;
  width: 50%;
}

input::-webkit-input-placeholder {
  color: #103a65;
}

input::-moz-placeholder {
  color: #103a65;
}

button {
  border: 2px solid #103a65;
  padding: 8px 20px;
  margin: 10px 2px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #235d9c;
  color: #fff;
  outline: none !important;
}

button:hover {
  box-shadow: 0 2px 2px 2px #103a65;
}

button:active {
  position: relative;
  top: 2px;
}

.infoWeather {
  min-width: 60%;
  font-size: 20px;
  color: #fff;
}

.error {
  color: #b91212;
  font-weight: bold;
}
